.search-bar-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    max-width: 50em;
    width: 100%;
}

.input {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
    min-height: 60px;
    min-width: 20em;
}

.input-container button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.input-container button:disabled {
    pointer-events: none;
}

.input-container button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.input-container button:active {
    box-shadow: none;
    transform: translateY(0);
}

.alphabet-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.alphabet-button {
    appearance: none;
    background-color: black;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 5px;
    min-height: 40px;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    
    @media (max-width: 767px) {
            flex-basis: 10%;
            margin: 5px;
        }
}

.alphabet-button:hover {
    color: #fff;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.alphabet-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.result-message {
 padding-top: 15px;
 font-size: 2em;
}

/* Media query for small screens */
@media (max-width: 700px) {
    .search-bar-container {
        margin-bottom: 10px;
    }

    .input-container {
        flex-direction: column;
        align-items: stretch;
        max-width: none;
    }

    .input {
        min-width: auto;
    }
}