.Footer {
    width: 100%;
    color: white;
    background-color: black;
    padding: 1em;
    margin-top: 4em;
}

.Footer a {
    color: white;
}

/* Media query for small screens */
@media (max-width: 700px) {
    .Footer {
        text-align: center;
        font-size: 10px;;
    }
}