.cocktail-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0em 4em;
}

.cocktail-container h2 {
    font-size: 3em;
    margin-bottom: 1rem;
}

.text-container {
    flex: 1;
    font-size: 1.5em;
}

.image-container {
    flex: 1;
}

img {
    max-width: 60%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.details-name-and-heart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
}
