.cocktail-list-container {
    margin: 0 auto;
    position: relative;
}

.cocktail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

/* Smaller screens and tablets */
/* number of columns is changed to two equal columns when the screen is 960px or smaller. */
@media only screen and (max-width: 960px) {
    .cocktail-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
    .cocktail-grid {
        grid-template-columns: 1fr;
    }
}

.cocktail-item {
    position: relative;
    text-align: center;
    padding: 10px;
}

.cocktail-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cocktail-item h3 {
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.cocktail-item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.cocktail-item a:hover {
    text-decoration: underline;
}

.name-and-heart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}