.cocktail-list-container {
    margin: 0 auto;
    position: relative;
}

.cocktail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

/* Smaller screens and tablets */
/* number of columns is changed to two equal columns when the screen is 960px or smaller. */
@media only screen and (max-width: 960px) {
    .cocktail-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
    .cocktail-grid {
        grid-template-columns: 1fr;
    }
}

.cocktail-item {
    position: relative;
    text-align: center;
    padding: 10px;
}

.cocktail-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cocktail-item h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 1px 1px 5px #041c36, 1px 1px 5px #041c36;
    margin: 0;
    padding: 10px;
}

.cocktail-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.favorite-button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.favorite-button:disabled {
    pointer-events: none;
}

.favorite-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.favorite-button:active {
    box-shadow: none;
    transform: translateY(0);
}